/* DATEI: Doku.css */

/* Text Settings */

.titel {
   font-size: 35pt;
   color: #000000;
   font-weight: bold;
   font-family: Arial,sans-serif;
   font-style: normal;
   line-height: 36pt
}

h2 {font-size: 30pt; color: #000000; font-weight: bold; font-family: Arial,sans-serif; font-style: normal;}
h3 {font-size: 25pt; color: #000000; font-weight: bold; font-family: Arial,sans-serif; font-style: normal; }
h4 {font-size: 20pt; color: #000000; font-weight: bold; font-family: Arial,sans-serif; font-style: normal; }
h5 {font-size: 15pt; color: #000000; font-weight: bold; font-family: Arial,sans-serif; font-style: normal; }

p {font-size:15pt;color:#000000;font-weight:normal;font-family:Arial,sans-serif; font-style:normal;
   line-height:20pt}

nav a {font-size:12pt;color:#000000;font-weight:normal;font-family:Arial,sans-serif; font-style:normal;
   line-height: 15pt;}

/*
br {
   line-height: 25px;
}
*/

b {font-size:15pt;color:#000000;font-family:Arial,sans-serif; font-style:normal;
   line-height:20pt}

a:active { color:#0c0338; text-decoration:none; }

div#Inhalt p {font-size:10pt;color:#000000;font-weight:normal;font-family:Arial,sans-serif; font-style:normal;
   line-height:18pt}

.titel {
   color: rgba( 121, 8, 119, .9 );
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(143, 148, 163, .9);
   border-radius: 10px;
   }

p {
   border: 0px;
   width: 50%;
   padding: 10px;
   margin: auto;
   align-items: center;
   justify-content: center;
}

h2 {border: 0px;width: 50%;padding: 10px;margin: auto;align-items: center;justify-content: center;display: flex;  }
h3 {border: 0px;width: 50%;padding: 10px;margin: auto;align-items: center;justify-content: center;display: flex;  }
h4 {border: 0px;width: 50%;padding: 10px;margin: auto;align-items: center;justify-content: center;display: flex;  }
h5 {border: 0px;width: 50%;padding: 10px;margin: auto;align-items: center;justify-content: center;display: flex;  }

table {
   border: 0px;
   width: 50%;
   padding: 10px;
   margin: auto;
   align-items: center;
   justify-content: center;
   display: flex;
}

.inhalt a {
   font-size:15pt;
   color:#000000;
   font-weight:normal;
   font-family:Arial,sans-serif; 
   font-style:normal;
   line-height: 20pt;
   border: 0px;
   width: 50%;
   padding: 10px;
   margin: auto;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
   text-decoration: none;
 }

 .inhalt a:visited,
 .inhalt a:active,
 .inhalt a:hover{
   color: #000000;
   text-decoration: none;
 }

img {
   transition:transform 0.25s ease;
   margin: auto;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
   transition: transform 0.2s ease;
}

img:hover{
   transform: scale(1.2);
}


/* Button Setting */

button {
   width: auto;
   height: auto;
   color: black;
   background-color: white;
   transition:transform 0.25s ease;
}

button:hover {
   color: white;
   background-color: black;
}

header {
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	z-index: 200;
	background: #ffffff;
   position: fixed;
	top: 0;
	width: 100%;
   height: 90px;
}


/* Tabellen */

td, th {
   border: 1px dotted;
}

.iconspalte {
   width: 6%;
}

.tabelleninhalt {
   width: 93%;
}


/* Background option */

body, html {
   height: 100%;
   margin: 0;
 }
 
 .bg {
   height: 100%; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }


 /* Sidebar */

 nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 nav ul li{
   position: relative;
 }

 nav ul .upper:hover{
   background-color: rgba(111, 111, 111, 0.9);
 }

 nav ul .submenu:hover,
 nav ul .sub-submenu:hover,
 nav ul .sub-sub-submenu:hover {
   background-color: rgba(81, 80, 80, 0.9);
 }

 nav ul a{
   color: #ffffff;
   text-decoration: none;
   padding-left: 25px;
   display: block	;
   padding: 6px 5px;
   padding-left: 30px;
 }

 nav ul a:after {
   content: "\f054";
   font-family: "FontAwesome";
   display: block;
   position: absolute;
   left: 15px;
   top: 13px;
   font-size: 12px;
}

nav {
   position: fixed;
   left: 0px;
   top: 0;
   bottom: 0;
   padding: 10px 0;
}

nav > ul {
   margin-top: 32px;
}

nav ul li > ul li {
   min-width: 120px;
}

nav ul li:hover > ul,
nav ul li > ul:hover {
    top: 0%;
}

nav { 
   padding:4px;
   background-color: rgba( 143, 148, 163, .9 );
   width: 420px;
   height:auto;
   overflow-x: hidden;
   overflow-x: auto;
   text-align: auto;
}

nav .expand-btn {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 18px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

nav .submenu,
nav .sub-submenu,
nav .sub-sub-submenu {
   visibility: hidden;
   height: 0;
   overflow: hidden;
   transition: all 0.2s;
}

nav .submenu,
nav .sub-submenu,
nav .sub-sub-submenu {
   visibility: hidden;
   height: 0;
   overflow: hidden;
   transition: all 0.2s;
}

nav .submenu:expand-btn > .sub-submenu,
nav .sub-submenu:expand-btn > .sub-sub-submenu,
nav .sub-sub-submenu:expand-btn > .sub-sub-sub-submenu {
   visibility: visible;
   height: auto;
}
